[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/nativefiledialog"]
	path = third_party/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "third_party/imgui-node-editor"]
	path = third_party/imgui-node-editor
	url = https://github.com/syoyo/imgui-node-editor
